@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  scroll-behavior: smooth;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(66, 66, 239);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  color: #764345;
  color: #60122F;
  color: #A07C80;
  color: #434242;
}

